
body {
    padding: 0 0;
    margin: 0 0;
    font-size: 2rem;
    color: black;
    
    text-align: center;
    font-family: 'Roboto Mono', monospace;


}
footer {
    font-size: 1rem;
    background-color: #03256c;
    padding: 25px;
    color: white;
}
h2 {
    margin: 0;
}

svg{
    position: relative;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

i {
    text-align: center;
}

canvas {
    width: 100%;
    height: 1000px;
}

#particles-js{
    width: 100%;
    height: 100vh;
    background-color: white;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
  }

.sidebar {
    position: fixed;
    color: white;
    background-color: #1f1f1f;
    height: 100%;
    width: 3.25rem;
    padding: 0 1rem;
    z-index: 10;
    transition: width 300ms
}


.sidebar:hover {
    width: 300px;
}

.ic-sidebar {
    margin-top: 25vh;
}

.icon {
    text-align: left;
    height: 4.5rem;
    margin: 1rem 0;
    padding: 0.25rem 0;
    border-radius: 0.25em;
    overflow: hidden;
}

.icon:hover, .icon:focus {
    background-color: #2541b2;
    cursor: pointer;
}

.icon i {
    margin: 1rem 0;
    padding: 0.5rem;
}

.icon p {
    display: inline;
    animation: fade-in 1s;
}


.content-contianer {
    width: 100%;
    height: 100%;
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(0.65)}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 1.5s;
}

.fade {
    opacity: 0;
}

.header {
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
    position: absolute;
    left: 0; 
    right: 0; 
    
    margin-left: 20%; 
    margin-right: auto;
    top: 30%;
    width: 25rem;
    z-index: 5;
    pointer-events: none;
}

.top-svg-transition {
    top: 4rem;
}

.contact-container {
    height: 1000px
}


.fab-style {
    margin: 0.5rem;
    margin-top: 1rem;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-icon {
    background-color: #2541b2;
    margin: 1rem;
    height: 4rem;
    width: 4rem;
}

.nav-button {
    position: relative;
    top: -50px;
}

.header-nav-button {
    position: absolute;
    bottom: 100px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    width: 100px;
}


.nav-button:hover, .nav-button:focus, 
.header-nav-button:hover, .header-nav-button:focus {
    color: #e6e3e3;
    cursor: pointer;
}
/* projects */

.projects {
    /* position: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-template-rows: repeat(1fr);
    column-gap: 200px;
    row-gap: 200px; */
}

.project {
    font-size: 1rem;
    display: inline-block;
    width: 40rem;
    margin: 1.5rem;
    border: 1px solid black ;
    border-radius: 16px;
    object-fit: cover;
}
.project p {
    padding: 2rem;
    margin: 0;
}

.project:hover, .project:focus{
    background-color: #2541b2;
    cursor: pointer;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.inner-modal {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    border-radius: 1rem;
    background-color: aqua;
    height: 70%;
    width: 60%;
    overflow: auto;
}

@media only screen and (max-width: 1500px) {
    .project {
        width: 65vw;
        display: block;
        margin-left: auto; 
        margin-right: auto;
        margin-top: 3rem; 
    }
}

@media only screen and (max-width: 1250px) {
    .project {
        width: 65vw;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 1.75rem;
    }

    .sidebar {
        width: 3rem;
    }
}


@media only screen and (max-width: 800px) {
    body {
        font-size: 1.5rem;
    }

    .header {
        top: 30%;
        margin-left: auto;
        text-align: center;
    }

    .icon {
        font-size: 0.8rem;
        height: 50px;
        width: 50px;
    }

    .nav-button {
        font-size: 4rem;
        top: -1rem;
    }

    .sidebar {
        display: none;
    }

    .project{
        width: 80vw;
    }
}

@media only screen and (max-width: 700px) {
    .project {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 1rem;
    }
}


@media only screen and (max-width: 400px) {
    .content-contianer {
        width: 400px;
    }
}